@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

:root {
    --btn: rgb(39, 111, 206); 
    --light: rgb(87, 144, 218); 
    --main: rgb(39, 111, 206); 
    font-family: 'Play', sans-serif;
    
}

 input {
    font-size: inherit;
    font-family: 'Play', sans-serif;
    border-color: var(--light);
    border: solid;
    border-width: 1px;
    outline: black;
    background-color: transparent;
    appearance: 1rem;
  }

header {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    background-color: var(--main);
    padding: 1rem;
   
}
.boldtextcss {
    padding-top: 1rem;
   
}
.boldtextcss,
#city {
    font-family: 'Play', sans-serif;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

#searchbtn {
    border: 0;

    font-family: 'Play', sans-serif;
    color: white;
    background-color: var(--btn);
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
}

#searchbtn:hover {
    background-color: var(--light);
}