@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Play&family=Rajdhani:wght@300&display=swap');

:root {
    --btn: rgb(39, 111, 206);
    --light: rgb(87, 144, 218);
    --main: rgb(39, 111, 206);
    --dark: rgb(28, 85, 160);
    font-family: 'Play', sans-serif;

}

input {
    font-size: inherit;
    font-family: 'Play', sans-serif;
    border-color: var(--light);
    border: solid;
    border-width: 1px;
    outline: black;
    background-color: transparent;

}

input:focus {
    box-shadow: 0 0 11px 1px var(--light);
}

header {
    font-family: 'Hind', 'Play', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    color: white;
    /*background-color: var(--main);*/
    background-image: linear-gradient(to bottom right, #6193dd, #2768c1);
    padding: 1rem;


}

.boldtextcss {
    padding-top: 1rem;
    font-weight: bold;
}

.boldtextcss,
#city {
    font-family: 'Play', sans-serif;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

#searchbtn {
    border: 0;
    font-family: 'Play', sans-serif;
    color: white;
    background-color: var(--btn);
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

#searchbtn:hover {
    background-color: var(--light);
}

#searchbtn:active {
    box-shadow: 0 0 11px 1px var(--light);
    background-color: var(--dark);
}

/* divider */
.divider {
    border-top: 1px solid black;
    /*  z-index: 1; */
}

/* current city and date */
.citycontainer {
    padding-top: 1.6rem;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#seeforecast {
    position: relative;
    z-index: 1;
}
#hideforecast {
    position: relative;
    top: -3rem;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}
#seeforecast, #hideforecast {
    font-weight: bold;
    border: 0;
    font-family: 'Play', sans-serif;
    color: var(--main);
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}
#seeforecast:hover, #hideforecast:hover {
    color: var(--light);
}

#seeforecast:active, #hideforecast:active {
    color: var(--dark); 
}

.hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
}

/* recently searched */
.historycontainer {
    position: absolute;
    padding-left: 1rem;
    padding-top: 7rem;
    top: 0;
    left: 0;
    z-index: 1;
}

.historycontainer h3 {
    font-family: 'Play', sans-serif;
    font-size: 1.25rem;

}